mat-grid-list {
  margin: 40px;
}

mat-grid-tile {
  border: 10px solid black;
}

mat-form-field {
  margin: 55px 25px 25px 65px;
  width: 200px;
}

mat-drawer {
  position: fixed;
  width: 320px;
}

.search {
  background-image: url('/assets/search-bar.png');
  background-repeat: no-repeat;
  background-size: 320px 57px;
  background-position-x: 20px;
  background-position-y: 45px;
}

.mat-drawer-container {
  background: transparent;
  height: 100%;
}
