<div class="search">
  <mat-form-field>
    <input matInput placeholder="Search by name" #searchBox (keyup)="search(searchBox.value)">
    @if (searchBox.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="searchBox.value = ''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</div>
<mat-grid-list cols="4" rowHeight="250">
  @for (character of characters$ | async; track character.id) {
    <mat-grid-tile>
      <app-character-card [character]="character" />
    </mat-grid-tile>
  }
</mat-grid-list>
