<mat-vertical-stepper *ngIf="!hero" linear="true">
  <mat-step *ngFor="let question of questions">
    <ng-template matStepLabel>{{question.description}}</ng-template>
    <div>
      <mat-button-toggle-group>
        <mat-button-toggle (click)="setAnswer(question, 'yes')">Yes</mat-button-toggle>
        <mat-button-toggle (click)="setAnswer(question, 'no')">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-step>
</mat-vertical-stepper>
<div *ngIf="hero" fxLayout="column">
  <h2 fxFlexAlign="center">You are</h2>
  <div fxLayout="row">
    <span fxFlex></span>
      <app-character-detail [character]="hero"></app-character-detail>
    <span fxFlex></span>
  </div>
  <span fxFlexAlign="center">
    <button mat-raised-button color="accent" (click)="resetQuiz()">No I am not!</button>
  </span>
</div>
