<div *ngIf="!hero" fxLayout="column">
  <md-list>
    <h3 md-subheader>Answer the following questions to find with which hero you match:</h3>
    <app-question *ngFor="let question of questions" [question]=question></app-question>
  </md-list>
  <span fxLayout="row" fxLayoutGap="10px" fxFlexAlign="center">
    <button md-button routerLink="/">Cancel</button>
    <button md-raised-button color="primary" (click)="submit()">Submit</button>
  </span>
</div>
<div *ngIf="hero" fxLayout="column">
  <h2 fxFlexAlign="center">You are</h2>
  <div fxLayout="row">
    <span fxFlex></span>
    <app-character-detail [character]="hero"></app-character-detail>
    <span fxFlex></span>
  </div>
  <span fxFlexAlign="center">
    <button md-raised-button color="accent" (click)="resetQuiz()">No I am not!</button>
  </span>
</div>
